{% extends "smartlink-manager/_layouts/settings" %}
{% set title = "Interface Settings"|t('smartlink-manager') %}
{% set fullPageForm = true %}
{% set selectedSettingsItem = 'interface' %}

{% set crumbs = [
    {
        label: smartlinkHelper.fullName|t('smartlink-manager'),
        url: url('smartlink-manager'),
    },
    {
        label: 'Settings'|t('smartlink-manager'),
        url: url('smartlink-manager/settings'),
    },
    {
        label: 'Interface'|t('smartlink-manager'),
        url: url('smartlink-manager/settings/interface'),
    },
] %}

{% import "_includes/forms" as forms %}

{% block content %}

    {{ actionInput('smartlink-manager/settings/save') }}
    {{ redirectInput('smartlink-manager/settings/interface') }}
    {{ hiddenInput('section', 'interface') }}

        <h2 class="first">{{ "Interface Settings"|t('smartlink-manager') }}</h2>

        {% include 'lindemannrock-base/_partials/field-items-per-page' with {
            settings: settings,
            pluginHandle: 'smartlink-manager',
        } only %}

        <hr>

        {% include 'lindemannrock-base/_partials/cascade-base-overrides' with {
            settings: settings,
            pluginHandle: 'smartlink-manager',
            sections: {
                dateFormat: {},
                dateRange: {},
                exports: {},
            },
        } only %}

    {% include 'lindemannrock-base/_components/plugin-credit' %}
{% endblock %}
