{% extends "_layouts/elementindex" %}
{% set plugin = craft.app.plugins.getPlugin('smartlink-manager') %}
{% set title = smartlinkHelper.fullName|t('smartlink-manager') %}
{% set elementType = 'lindemannrock\\smartlinkmanager\\elements\\SmartLink' %}
{% set selectedSubnavItem = 'links' %}
{% set showSiteMenu = false %}
{% set setupIncompleteSummary = include('smartlink-manager/_partials/setup-incomplete-summary', {
    selectedSubnavItem: selectedSubnavItem,
}, false)|trim %}
{% set errorSummary = (setupIncompleteSummary ~ (errorSummary ?? ''))|trim %}

{# Site switcher (first item) #}
{% set crumbs = [] %}
{% if craft.app.getIsMultiSite() %}
    {% set currentSite = craft.app.sites.getCurrentSite() %}
    {# Check for site parameter in URL to properly highlight selected site #}
    {% set siteParam = craft.app.request.getParam('site') %}
    {% set selectedSiteHandle = siteParam ?: currentSite.handle %}

    {# Get the actual selected site object for the label #}
    {% set selectedSite = siteParam ? craft.app.sites.getSiteByHandle(siteParam) : currentSite %}

    {# Get site menu items - only enabled sites #}
    {% set siteMenuItems = [] %}
    {% for site in plugin.getEnabledSites() %}
        {% set siteMenuItems = siteMenuItems|merge([{
            label: site.name,
            url: url('smartlink-manager', {site: site.handle}),
            selected: site.handle == selectedSiteHandle
        }]) %}
    {% endfor %}

    {% set crumbs = [{
        id: 'site-crumb',
        icon: 'world',
        label: selectedSite.name|t('site'),
        menu: {
            items: siteMenuItems,
            label: 'Select site'|t('smartlink-manager')
        }
    }] %}
{% endif %}

{% set crumbs = crumbs|merge([
    { label: smartlinkHelper.fullName|t('smartlink-manager'), url: url('smartlink-manager') }
]) %}

{% block actionButton %}
    {% if currentUser.can('smartLinkManager:createLinks') %}
        <div class="btngroup">
            <a href="{{ url('smartlink-manager/new') }}" class="btn submit add icon">{{ 'New {name}'|t('smartlink-manager', {name: smartlinkHelper.displayName}) }}</a>
        </div>
    {% endif %}
{% endblock %}
