{% import "_includes/forms" as forms %}

{{ forms.textField({
    label: "Selection Label"|t('app'),
    instructions: "The text to display on the Add button."|t('app'),
    id: 'selectionLabel',
    name: 'selectionLabel',
    value: field.selectionLabel,
    placeholder: 'smartlink-manager'|t('Add a {pluginName}', {pluginName: smartlinkHelper.lowerDisplayName}),
}) }}

{{ forms.lightswitchField({
    label: "Allow Multiple"|t('smartlink-manager'),
    instructions: "Whether to allow multiple {pluginName} to be selected"|t('smartlink-manager', {pluginName: smartlinkHelper.pluralLowerDisplayName}),
    id: 'allowMultiple',
    name: 'allowMultiple',
    on: field.allowMultiple,
    toggle: 'limit-container',
}) }}

<div id="limit-container" class="{{ not field.allowMultiple ? 'hidden' }}">
    {{ forms.textField({
        label: "Limit"|t('app'),
        instructions: "The maximum number of {pluginName} that can be selected."|t('smartlink-manager', {pluginName: smartlinkHelper.pluralLowerDisplayName}),
        id: 'limit',
        name: 'limit',
        value: field.limit,
        type: 'number',
        min: 1,
    }) }}
</div>
